<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Raleway|Zilla+Slab" rel="stylesheet">
</head>
<body>
<header>
	<h4><a href="/login">Login</a></h4>

	<div> 
		<a href="/">
			<h1>woofer</h1>
			<h3>get a new leash on life</h3>
		</a>
	</div>

	<h4><a href="/sign-up">Sign Up</a></h4>
</header>

<% if logged_in? %>
	
	<aside>
	<h3>Inbox:</h3>
	<% current_user.received_messages.each do |message|%>
		<p><%= message['body'] %></p>
	<%end%> 

	<h3>Outbox:</h3>
	<% current_user.sent_messages.each do |message|%>
		<p><%= message['body'] %></p>
	<%end%>
</aside>

<% end %>

  <%= yield %>

</body>
</html>