<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
<h3><a href="/login">Login</a></h3>

	<h1>Woofer</h1>
	<h3>get a new leash on life</h3>

  <%= yield %>

</body>
</html>