<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Raleway|Walter+Turncoat" rel="stylesheet">
</head>
<body>
<nav>
	<h3><a href="/login">Login</a></h3>

	<h1>woofer</h1>
	<h3>get a new leash on life</h3>

	<h3><a href="/sign-up">Sign Up</a></h3>
</nav>
  <%= yield %>

</body>
</html>