<main>

 <h2>Please login</h2>

	<form action="/session" method="post">
		<label for="">User Name: </label>
		<input name="user_name" type="text">
		<br>
		<label for="">Password: </label>
		<input name="password" type="password">
		<br>
		<button>log in</button>
	</form>

</main>