<h2>Ready for a new leash on life?</h2>

<form action="/sign-up" method="post">
	<label for="">User Name</label>
	<input name="user_name" type="text">
	<br>
	<label for="">Upload an image</label>
	<input name="image_url" type="text">
	<br>
	<label for="">Age</label>
	<input name="age"	type="number">
	<br>
	<label for="">Location</label>
	<input id="autocomplete" name="location"	type="text">
	<br>
	<label for="">A bit about you</label>
	<input name="bio" type="text">
	<br>
	<label for="">Password</label>
	<input name="password" type="password">
	<br>
	<button>Sign-Up</button>
</form>