<h2>Ready for a new leash on life?</h2>

<form action="/sign-up" method="post">
	<label for="">User Name</label>
	<input name="user_name" type="text">

	<label for="">Upload an image</label>
	<input name="image_url" type="text">

	<label for="">Age</label>
	<input name="age"	type="number">

	<label for="">A bit about you</label>
	<input name="bio" type="text">
	
	<label for="">Password</label>
	<input name="password" type="password">

	<button>Sign-Up</button>
</form>