html {	
	box-sizing: border-box;
	background-color: floralwhite;
	font-family: 'Raleway', sans-serif;
}
*, *:before, *:after {
	box-sizing: inherit;
}

h1, h3 {
	color: lightcoral;
}

h1 {
	font-family: 'Walter Turncoat', cursive;
}